<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>245761560244-iqio3dn88lleh2jvbhr23lam681nfrjf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.245761560244-iqio3dn88lleh2jvbhr23lam681nfrjf</string>
	<key>API_KEY</key>
	<string>AIzaSyB7UDWMi8QN1YnXXBYZv4yAwiZ1x5Vfsg0</string>
	<key>GCM_SENDER_ID</key>
	<string>245761560244</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lucasbertolo2.keeprecipes</string>
	<key>PROJECT_ID</key>
	<string>keep-recipe-7faac</string>
	<key>STORAGE_BUCKET</key>
	<string>keep-recipe-7faac.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:245761560244:ios:020205ba57350a8afd91e1</string>
</dict>
</plist>